
APP_NAME="ZIP Document Processor API"
PORT=8000
HOST="127.0.0.1"
DEBUG=True

# Directory Paths
STORAGE_DIR="../Output"
TEMP_DIR="temp"

# MongoDB Configuration
MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB_NAME="document_processing_db"
MONGODB_COLLECTION_NAME="conversion"
ENABLE_MONGODB=True
